html,
body {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.app {
  padding: 3rem;

  &-logo-animated {
    -webkit-animation: logo-spin infinite 20s linear;
    animation: logo-spin infinite 20s linear;
    height: 8rem;
    cursor: pointer;
  }

  &-logo-static {
    height: 8rem;
    cursor: pointer;
  }

  &-grid {
    margin: 5%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
}

@-webkit-keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
